<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static '/assets/css/styles.css' %}">
    <link rel="icon" type="images/png" href="{% static 'assets/images/logo.png' %}">
</head>
{% comment %} NAVBAR {% endcomment %}
<body style="background-image: url('{% static '/assets/images/op3.jpg' %}');">
    <nav class="navbar navbar-expand-lg navbar-light trans mb-5">
        <a class="navbar-brand" href="#"><img src="{% static 'assets/images/logo.png' %}" alt="" width="100px" length="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for Navbar in Navbars %}
              <li class="nav-item">
                <a class="nav-link" 
                href="{{ Navbar.url }}" style="color: #000000">{{ Navbar.nombre }}</a>
              </li>
              {% endfor %}
              </ul>
        </div>
      </nav>
{% comment %} CARRUCEL {% endcomment %}
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="5000">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'assets/images/carrucel1.png' %}" class="d-block w-100" alt="..." >
            <div class="carousel-caption d-none d-md-block">              
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'assets/images/carrucel2.png' %}" class="d-block w-100" alt="..." >
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'assets/images/carrucel3.png' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">              
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>
{% comment %} JUMBOTRON {% endcomment %}
    <div class="container mt-5 ">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenidos a Bookipedia!</h1>
            <p class="lead">
              Tu portal hacia un universo de conocimiento y aventura. Descubre Brookipedia, donde cada libro es una puerta a un nuevo mundo.En Brookipedia, no solo encontrarás libros, sino un universo entero esperando ser explorado. ¡Ven y experimenta todo lo que tenemos para ofrecerte!.</p>
            <hr class="my-4">
            <p>Encuentra más información en nuestras secciones especializadas.</p>
            {% for Navbar in Navbars %}
            <a class="btn" style="background-color: #1B7E46; color: white;" href="{{ Navbar.url }}" role="button">{{ Navbar.nombre }}</a>
            {% endfor %}
        </div>        
    </div>
{% comment %} INSTALACION {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

    <script>
        $(document).ready(function(){            
            AOS.init();            
            console.log('AOS inicializado!');         
        });
        function mostrarAlerta(){
            Swal.fire("SweetAlert2 is working!");
        }
    </script>
</body>
</html>