<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina de categorias</title>    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />   
    {% load static %}
    <link rel="stylesheet" href="{% static '/assets/css/styles.css' %}">
    <link rel="icon" type="images/png" href="{% static 'assets/images/logo.png' %}">
</head>
<style>
    h2, h3 {
        margin-top: 50px;
        text-align: center;
        font-size: 4.5vw; /* Utilizamos vw (viewport width) para que el tamaño de fuente sea responsive */
        color: black;
        font-weight: 500;
        background-color: white;
        border-radius: 20px;
        max-width: 900px; /* Establecemos un ancho máximo */
        width: 90%; /* Ajustamos el ancho para que sea responsivo */
        margin: 0 auto;
        padding: 20px; /* Agregamos espacio interno para mejorar la legibilidad */
      }

</style>
{% comment %} NAVBAR {% endcomment %}
<body style="background-image: url('{% static '/assets/images/categorias.jpg' %}');">
    <nav class="navbar navbar-expand-lg navbar-light trans">
        <a class="navbar-brand" href="#"><img src="{% static 'assets/images/logo.png' %}" alt="" width="100px" length="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for Navbar in Navbars %}
              <li class="nav-item">
                <a class="nav-link" 
                href="{{ Navbar.url }}" style="color: #000000">{{ Navbar.nombre }}</a>
              </li>
              {% endfor %}
              </ul>
        </div>
      </nav>
{% comment %} TITULO {% endcomment %}
    <div class="container mt-3">
      <div class="row">
          <div class="col-lg-12" data-aos="flip-left">
              <h1>Lista de Categorias disponibles</h1>
          </div>
      </div>
  </div>
  <div class="container mt-3">
    <div class="row">
        <div class="col-lg-12" data-aos="fade-up">
            <p>Navega por nuestra biblioteca de acuerdo a tus intereses. Hemos organizado nuestra colección en categorías que abarcan una amplia gama de géneros y temas. Ya sea que busques aventura, romance, historia o ciencia, encontrarás un rincón especial lleno de tesoros literarios esperando ser descubiertos.</p>
        </div>
    </div>
  </div>
{% comment %} TABLA LISTADO DE CATEGORIAS {% endcomment %}
    <div class="container" >
        <div class="row" >
            <div class="col-lg-12 mt-5">
                <table id="myTable3" class="display" style="width:100%" >
                    <thead>
                        <tr>
                            <th>id categoria</th>
                            <th>Nombre</th>
                            <th>Descripción</th>                        
                        </tr>
                    </thead>
                    <tbody >                                       
                        {% for Categoria in Categorias %}
                    <tr>
                        <td>{{ Categoria.id_categoria }}</td>
                        <td>{{ Categoria.nombre_categoria }}</td>
                        <td><details>
                            <summary>Ver descripción</summary>
                            <p>{{ Categoria.descripcion_categoria }}</p>
                        </details></td>                        
                    </tr>
                    {% endfor %}                   
                    </tbody>                                   
                </table>
            </div>            
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 mt-3">
                <h2 class="glasstrans">Necesitas necesitas asistencia?</h2>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mt-3">
              <h3 class="glasstrans">Comunicate con nosotros!</h3>
          </div>
      </div>
    </div>
{% comment %} FORMULARIO CON VALIDACIONES {% endcomment %}
    <div class="container formu my-5 glasstrans">
        <div class="row">    
            <div class="col-lg-12">
                <section>
                    <h4 class="cardtitle">Formulario de contacto</h4>
                    <form method="post" action="/">
                       <div>
                        <fieldset>
                            <legend>Información personal</legend>
                            <label for="name">
                            <input type="text" name="Nombre" id="name" placeholder="Ingrese su nombre" required>
                            </label>
                        <label for="mail">
                        <input type="email" name="Mail" id="Mail" placeholder="correo@gmail.cl" required>
                    </label>
                    </fieldset>
                </div>
                    <fieldset>
                        <legend> Información adicional</legend>
                        <label>Teléfono: </label>
                        <input type="tel" name="telefono" placeholder="+569999999" required>
                    </fieldset>
                    <fieldset>
                        <legend> Información adicional</legend>
                        <label>Mensaje: </label>
                        <input type="text" name="mensaje" placeholder="Déjanos tu mensaje" required style="width: 300px;" >
                    </fieldset>
                     <fieldset>
                        <legend> Otros</legend>
                        <label for="why" id="why">¿En qué te podemos ayudar?</label>
                        <select name="why" id="why">
                            <option value="1">Consulta</option>
                            <option value="2">Dudas</option>
                            <option value="3">Más información</option>
                        </select>
                     </fieldset>                 
                     <button type="button" onclick="alertaGuardado()" class="btn btn-secondary">Enviar información</button>
                    </form>
                </section>
            </div>     
        </div>
      </div>
{% comment %} INSTALACIONES {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% comment %} data tables instalado {% endcomment %}
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
{% comment %} AOS {% endcomment %}
    <script>
        AOS.init();
        console.log('AOS inicializado');
      </script>
{% comment %} CAMBIO DE IDIOMAS DE DATA TABLES {% endcomment %} 
    <script>
        new DataTable('#myTable3', { 
            "language":{
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                  "sFirst": "Primero",
                  "sLast": "Último",
                  "sNext": ">",
                  "sPrevious": "<"
                },
                "oAria": {
                  "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                  "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
              }      
        });

          function alertaGuardado(){
            Swal.fire({
                title: "Estas seguro de realizar el envio estos datos?",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: "Enviar",
                denyButtonText: `No Enviar`
              }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                  Swal.fire("Enviado Correctamente!", "", "success");
                } else if (result.isDenied) {
                  Swal.fire("No se envio la información", "", "info");
                }
              });
          }
    </script>
</body>
</html>